*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}

body{
  min-width: 1200px;
}

.clearfix:after{
  content: '';
  display: table;
  clear: both;
}

.container{
  width: 100%;
  padding: 0 10%;
}

.fixed{
  position: fixed;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

.inline-block{
  display: inline-block;
}

.position-relative{
  position: relative;
}

.position-absolute{
  position: absolute;
}

.text-center{
  text-align: center;
}

.btn{
  padding: 15px;
  font-size: 1.2em;
  border-radius: 10px;
}

.btn-orange{
  background-color: #FE775A;
  color: white;
  border: none;
  border-radius: 10px;
}

.uppercase{
  text-transform: uppercase;
}
/*nav fixed*/

.nav{
  height: 100px;
  line-height: 100px;
}

.nav.fixed{
  width: 80%;
  height: 100px;
  border-bottom: 1px solid #32495B; 
  background-color: #F4F9FD;
}

.first.container{
  height: 100px;
  border-bottom: 1px solid #32495B; 
  background-color: #F4F9FD;
}

.language i{
  margin-right: 10px;
}

.language{
  margin-right: 10px; 
}

.language, .contact-us{
  color: #32495B;
  font-size: 1.3em;
}

.nav-right .log-in{
  background: #F4F9FD;
  color: #FE775A;
  border-color: #FE775A;
  margin-left:30px;
}

.nav-right .btn-orange{
  padding: 15px;
  font-size: 1.2em;
  margin-left: 20px;
}

.fas.fa-search{
  color: #00A4BD;
  font-size: 1.2em;
}

/*nav static*/

.second.container{
  padding-top: 100px;
}
.nav.static{
  color: #32495B;
}

.second-nav-right div{
  display: inline-block;
  margin-right: 20px;
  font-size: 1.2em;
}

.second .nav img{
  margin-top: 35px;
  overflow: hidden;
}

/* jumbotron */

.jumbotron-container{
  background-repeat: no-repeat;
  background-image: url("../img/jumbotron.png");
  position: cover;
  width: 100%;
  height: 40vw;
  display: block;
  background-size: 100%;
}

.jumbotron.text{
  width: 50%;
}

.jumbotron.text h2{
  font-size: 3em;
  font-weight: bolder;
  color: #33475B;
  padding-top: 100px;
}

.jumbotron.text p{
  color: #33475B;
  padding-top: 30px;
  line-height: 30px;
}

.jumbotron.text button{
  margin-top: 20px;
  font-size: 15px;
}

.jumbotron-bar{
  background: #ADEAE3;
  height: 100px;
  border-top: 5px solid #33475B;
  border-bottom: 5px solid #33475B;
}

/*offerings section*/

.container.offerings{
  background: #F4F9FD;
  height: 100%;
}

.container.offerings .first.title img{
  width: 20%;
  margin: auto;
  display: block;
  padding-top: 100px;
}

.first.title{
  padding-top: 30px;
  text-align: center;
  color: #33475B;
  padding: 0 15%;
}

.first.title h2{
  font-size: 2em;
}

.first.title p{
  line-height: 30px;
  padding-top: 30px;
}

/* part one */

.part.one{
  margin-top: 60px;
  background-color:white;
  width: 100%;
  padding: 0 10%;
  box-shadow: 0 0 5px rgba(0,0,0, 0.5);
  border-radius: 10px;
  padding-bottom: 50px;
}

.part.one .left-part{
  padding-top: 50px;
}

.part.one .left-part img{
  width: 70%;
  margin-left: 30px;
  margin-bottom: 20px;
}

.part.one .left-part button{
  margin-top: 20px;
  display: block;
  font-size:1em;
  padding: 20px 40px;
  margin: auto;
}

.right-part{
  color: #33475B;
  width: 70%;
}

.right-part h3{
  font-size: 1.5rem;
  margin-bottom: 40px;
  margin-top: 40px;
}

.right-part p{
  margin-bottom: 40px;
}


.right-part hr{
  width: 600px;
  margin-top: -10px;
}

.checked{
  margin-top: 50px;
  padding-right: 20px;
}

.checked i{
  margin-right: 10px;
  color:#FE775A;
}

/*part two*/

.part.two{
  margin-top: 100px;
}

.box{
  width: 26%;
  border-radius: 10px;
  text-align: center;
  padding: 0 5%;
  box-shadow: 0 0 5px rgba(0,0,0, 0.5);
  background-color: white;
  padding-bottom: 50px;
  min-height: 900px;
}

.box.two{
  margin: 0 11%;
}

.box img{
  width: 50%;
  display: block;
  margin: auto;
  margin-top: 50px;
  min-height: 100px;
}

.box.two img{
  width: 60%;
}

.box.three img{
  width: 40%;
}

.box h4{
  margin-top: 50px;
  font-size: 1.8rem;
}

.box p{
  margin-top: 50px;
  line-height: 30px;
  margin-bottom: 50px;
  min-height: 200px;
}

.box h6{
  margin-top: 50px;
  font-size: 1.2rem;
}

.checks{
  margin-top: 50px;
  min-height: 100px;
}

.checks .checked{
  margin-top:2px;
}

.box button{
  padding: 20px;
  margin-top: 20px;
  font-size: 0.8em;
}

/*part three*/

.container-info{
  height: 800px;
  background:#F4F9FD;
  width: 100vw;
  padding-top: 100px;
}

.info{
  background: linear-gradient(-45deg,#23a6d5, #23d5ab);
  width: 100%;
  padding: 0 10%;
  color: white;
  height:100%;
  padding-top: 50px;
}

.info .text-center-title h2{
  padding-bottom: 50px;
  font-size:2rem;
  text-align: center;
}

.info .text-center-p{
  text-align: center;
  padding-top: 30px;
  line-height: 30px;
  font-size: 1.05rem;
  margin-bottom: 50px;
}

.row.one{
  width: 100%;

}

.el{
  width: 25%;
  height: 200px;
  border:1px solid white;
  text-align: center;
}

.row.one .el{
  border-top: 0;
}

.el img{
  width: 20%;
  margin-top: 10px;
  min-height: 0px;
}

.el h2{
  font-size: 3em;
  padding-bottom: 10px;
}

.el.two, .el.three, .el h2, .row.two .el{
  padding-top: 10px;
}


.el.three img{
  width: 30%;
}

.el.four img, .el.eight img{
  width: 40%;
}

.row.two .el{
  border-bottom: 0;
}

.el.one, .el.five{
  border-left: 0;
}

.el.four, .el.eight{
  border-right: 0;
}

.el.six img, .el.seven img{
  width: 10%;
}

.row .el span{
  font-size: 2rem;
  vertical-align: middle;
  font-weight: bolder;
}

/*small container*/
.small-container{
  width: 60%;
  margin: auto;
  
}

.right-box{
  width: 30%;
  height: 100%;
}

.right-box h2{
  font-size: 3em;
  padding-top: 50px;
  padding-bottom: 50px;
  
}

.left-box{
  width: 70%;
  padding-top: 5vh;
}

.left-box img{
  width: 21%;
  display: inline-block;
  vertical-align: middle;
}

.row-one, .row-two{
  min-height: 50px;
}

.left-box img{
  padding: 10px;
}

/*last container*/

.last.container{
  padding-top: 50px;
  margin-bottom: 50px;
}

.right.text{
  width: 30%;
  padding-top: 50px;
}


.right.text h2{
  font-size: 2em;
}

.right.text p{
  padding-top: 50px;
  padding-bottom: 50px;
}

.left.image{
  width: 35%;

}

.left.image img{
  width: 90%;
  float:right;
}

/*footer*/

.footer.container{
  background-color: #32495B;
}

.col{
  width: 24%;
}

.col ul li{
  list-style: none;
  color: white;
}

.col ul li:first-of-type{
  padding: 50px 0;
  font-weight: bolder;
}

.col ul li{
  padding-bottom: 20px;
}

.btn-white{
  font-size: 0.8rem;
  display: block;
}

.col ul li i{
  padding: 12px;
}

.languages{
  text-align: center;
  padding-bottom: 30px;
}

.languages span{
  padding: 0 0 0px 10px;
  color: white;
}

.last-section{
  padding: 40px 0;
  color: white;
}

.last-section-right span{
  padding-right: 20px;
}

.languages a{
  text-decoration: none;
  color: white;
}

.col li a{
  text-decoration: none;
  color: white;
}

.col li a:hover{
  color: #00A4BD;
}

.languages a:hover{
  color:#23a6d5;
}